body{
    background: #1d1d26;
    position: relative;
    margin: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
}

.container {
    width: 300px;
    
    display: inline-block;
    text-align: center;
    
}
.other-connexion{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    align-items:center;
}
.other-connexion>a:hover{
    box-shadow: inset 0 -3.25em 0 0 #2e2e3b;
}
a{
    transition: 0.25s;
    text-decoration: none;
    color: #b9b3b3;
    text-align: center;
    border-radius: 13px;
    border: 2px solid #2c2c38;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
}


a>i{
    padding: 0 15px;
}

h2{
    color: #f8f8f8;
    font-size:32px;
}
.separation{
    color: #b9b3b3;
    margin: 0;
    font-weight: bold;
    margin-bottom: 10px;
}
form{
   
    width: 100%;
    
}
.form-group{
    
    display: flex;
    align-items:center;
   
    border-radius: 13px;
    border: 2px solid #2c2c38;
}

.form-input{
    margin-bottom: 20px;
}
label{
    font-size: 12px;
    margin-left: 15px;
    margin-right: 15px;
    color: #b9b3b3;
}
input{
    color:#b9b3b3;
    background :none;
    font-weight: bold;
    width: 100%;
    display: block;
    border: none;
    padding: 10px 0;
    font-family: Poppins;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    appearance: unset!important;
    -moz-appearance: unset!important;
    -webkit-appearance: unset!important;
    -o-appearance: unset!important;
    -ms-appearance: unset!important;
}

.form-button{
    
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    border: none;
    border-radius:15px;
    margin-top: 40px;
    background: rgb(195,69,214);
    background: linear-gradient(5deg, rgba(195,69,214,1) 0%, rgba(252,121,157,1) 50%, rgba(254,152,130,1) 100%);
    -webkit-box-shadow: 0px 6px 0px rgb(1195,69,214,1);
    -moz-box-shadow: 0px 6px 0px rgb(195,69,214,1);
    box-shadow: 0px 6px 0px rgb(161, 56, 177);
}

.form-submit{
    font-size: 16px;
    color: white;
}

.form-button:active{
    -webkit-box-shadow: 0px 2px 0px rgb(195,69,214,1);
    -moz-box-shadow: 0px 2px 0px rgb(195,69,214,1);
    box-shadow: 0px 2px 0px rgb(195,69,214,1);
    position:relative;
    top:2px;
}
.text-link{
    color: #b9b3b3;
    margin-top: 30px;
}
.link-text{
   
    color:#ffffff;
    border: none;
    padding: 0;
}
.text-link>a{
    margin-left: 15px;
}


.circle{
   
    vertical-align: baseline;
    display: inline-block;
    margin: 0; 
    
}

.circle-gradient{
    z-index: -5;
    background:radial-gradient(circle at 120px 130px, rgb(252, 190, 176) 20%, #b72eb6 70%);
    
}

.circle-black{
    z-index: -5;
    background:radial-gradient(circle at 100px 100px, #313140 20%, #111117 70%);
    transform: rotate(-90deg);
}


 .circle1{
        top: -10%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        left: 15%;
        position : absolute;
        border-radius: 50%;
        height:250px;
        width: 250px;
    }
    
    .circle2{
        top: 5%;
        right: 6%;
        position : absolute;
        border-radius: 50%;
        height: 150px;
        width: 150px;
    }

@media screen and (max-width: 728px){
   

    .circle1{
        top: -10%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        left: -5%;
        position : absolute;
        border-radius: 50%;
        height:150px;
        width: 150px;
    }
    
    .circle2{
        top: 2%;
        right: 1%;
        position : absolute;
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
}